---
import Fondo from '../../components/Fondo.astro';
import Layout from '../../layouts/Layout.astro';

import { HTTP_STATUS_CODES } from '../../data/code';

export function getStaticPaths() {
	const paths = HTTP_STATUS_CODES.map(status => ({
		params: { code: status.code.toString() }
		// Opcionalmente, puedes agregar props adicionales
	}));

	return paths;
}

const { code } = Astro.params;
---

<Layout title={`Código ${code}`} descripcion={`Pagina para mostrar el código ${code}`}>
	<Fondo>
		<section class="flex min-h-screen flex-col items-center justify-center">
			<h1>Hello {code}!</h1>
		</section>
	</Fondo>
</Layout>
