---
import SearchCode from '../atomos/SearchCode.astro';
import TitleSection from '../atomos/TitleSection.astro';
---

<header class="mb-10 w-full max-w-5xl px-6 pt-4 text-center md:mb-20">
	<TitleSection text="HTTP Status Codes" align="center" size="text-3xl md:text-6xl" delay="animate-delay-100" />
	<p class="animate-fade-in-up animate-delay-200 mx-auto mt-6 max-w-3xl text-lg text-slate-400">
		Explora los códigos de estado HTTP y entiende cómo los servidores responden a las solicitudes web. Busca por número o nombre para encontrar rápidamente
		el código que necesitas.
	</p>

	<!-- SEARCH -->
	<SearchCode />
</header>
