---
interface InfoCardProps {
	title: string;
	value: string;
}

const { title, value } = Astro.props as InfoCardProps;
---

<div class="border-slate-70 rounded-xl border border-slate-700 bg-black/30 p-5">
	<p class="text-sm text-cyan-300">{title}</p>
	<p class="mt-2 font-semibold">{value}</p>
</div>
