<p id="no-results" class="animate-hang animate-iteration-count-infinite animate-duration-1000 hidden text-center text-3xl text-slate-400">
	No se encontró ningún código que coincida con tu búsqueda.
</p>
