<p
	id="no-results"
	class="animate-hang animate-iteration-count-infinite animate-duration-1000 hidden px-6 text-center text-xl text-slate-400 md:px-0 md:text-3xl"
>
	No se encontró ningún código que coincida con tu búsqueda.
</p>
