<button
	id="scroll-to-element"
	aria-label="Ir a la sección"
	class="fixed right-10 bottom-16 z-50 flex size-14 cursor-pointer items-center justify-center rounded-full border border-gray-400 bg-black/60 p-3 text-xl font-bold text-white shadow-lg transition-all hover:bg-sky-300/25 md:right-28 md:bottom-20 md:size-16"
>
	<svg
		version="1.1"
		id="_x32_"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="-51.2 -51.2 614.40 614.40"
		xml:space="preserve"
		fill="#ffffff"
		stroke="#ffffff"
		stroke-width="0.00512"
		transform="rotate(0)"
		><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"
			><path
				transform="translate(-51.2, -51.2), scale(19.2)"
				d="M16,26.91835011286955C18.186735886970766,27.29780415468783,20.788894080833263,27.51537461238455,22.46706237550969,26.062945480219796C24.149913525652998,24.606463407880096,23.69935019730964,21.925636861556878,24.257905073666414,19.771258883883583C24.706897288027932,18.039470335054652,25.085744244765056,16.400645217656084,25.427456582840964,14.644536375807446C25.956117444686463,11.927672188070765,28.00453238217894,9.12780566630747,26.81528816051408,6.6284994620399615C25.660225157221706,4.20102823463548,22.531417896049668,2.9622788613520554,19.843664054752754,2.9096823781512366C17.287842219992136,2.859667663957242,15.529832957151028,5.378967952322808,13.169873181003691,6.361473208106032C11.157202772703474,7.199393953324221,8.765739486271682,6.90257260128107,7.043137517873987,8.238834479127906C5.137535286380424,9.717053860621627,3.850939604037986,11.848106587970157,3.1300651193918423,14.149582719039756C2.3236078045348476,16.724292048335727,1.0541656633185188,19.939564406995782,2.71129510733504,22.068748179436188C4.457408606234295,24.31226424278264,8.159961046078152,23.06909516454011,10.83061085407276,24.04372652079237C12.72104930854451,24.73362625578486,14.017238692896486,26.574290825040528,16,26.91835011286955"
				fill="#7eeccb"></path></g
		><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#000000" stroke-width="38.912">
			<style type="text/css">
				.st0 {
					fill: #fafafa;
				}
			</style>
			<g>
				<path
					class="st0"
					d="M495.272,423.558c0,0-68.542-59.952-84.937-76.328c-24.063-23.938-33.69-35.466-25.195-54.931 c37.155-75.78,24.303-169.854-38.72-232.858c-79.235-79.254-207.739-79.254-286.984,0c-79.245,79.264-79.245,207.729,0,287.003 c62.985,62.985,157.088,75.837,232.839,38.691c19.466-8.485,31.022,1.142,54.951,25.215c16.384,16.385,76.308,84.937,76.308,84.937 c31.089,31.071,55.009,11.95,69.368-2.39C507.232,478.547,526.362,454.638,495.272,423.558z M286.017,286.012 c-45.9,45.871-120.288,45.871-166.169,0c-45.88-45.871-45.88-120.278,0-166.149c45.881-45.871,120.269-45.871,166.169,0 C331.898,165.734,331.898,240.141,286.017,286.012z"
				></path>
			</g>
		</g><g id="SVGRepo_iconCarrier">
			<style type="text/css">
				.st0 {
					fill: #fafafa;
				}
			</style>
			<g>
				<path
					class="st0"
					d="M495.272,423.558c0,0-68.542-59.952-84.937-76.328c-24.063-23.938-33.69-35.466-25.195-54.931 c37.155-75.78,24.303-169.854-38.72-232.858c-79.235-79.254-207.739-79.254-286.984,0c-79.245,79.264-79.245,207.729,0,287.003 c62.985,62.985,157.088,75.837,232.839,38.691c19.466-8.485,31.022,1.142,54.951,25.215c16.384,16.385,76.308,84.937,76.308,84.937 c31.089,31.071,55.009,11.95,69.368-2.39C507.232,478.547,526.362,454.638,495.272,423.558z M286.017,286.012 c-45.9,45.871-120.288,45.871-166.169,0c-45.88-45.871-45.88-120.278,0-166.149c45.881-45.871,120.269-45.871,166.169,0 C331.898,165.734,331.898,240.141,286.017,286.012z"
				></path>
			</g>
		</g></svg
	>
</button>

<script>
	const button = document.getElementById('scroll-to-element');
	const target = document.getElementById('initial-section');

	button?.addEventListener('click', () => {
		if (!target) return;

		target.scrollIntoView({
			behavior: 'smooth',
			block: 'start'
		});
	});
</script>
