.card {
    width: 400px;
    height: 340px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    cursor: pointer;
    border-radius: 20px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: #000;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
    border: 7px solid rgba(10, 238, 238, 0.144);
}

.wrapper img {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
}

.card:hover .wrapper {
    transform: perspective(1500px) translateY(-10%) rotate(30deg) translateZ(-50px);
    box-shadow: 2px 35px 32px -px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border: 7px solid rgba(10, 238, 238, 0.685);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    border-radius: 20px;
    position: absolute;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
}


.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);

}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.logo {
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    bottom: -70px;
    scale: .9;
}


.card:hover .logo {
    transform: translate3d(0, -50px, 100px);
    scale: 1.2;
}

.card:hover .cover-image {
    opacity: 0.3;
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0));
    position: absolute;
    z-index: -1;
    scale: 1;
    margin-right: 45px;
}

.card:hover .character {
    opacity: 1;
    scale: 1.1;
    transform: translate3d(5%, -35%, 670px);
}

.title {
    width: 100%;
    height: 100%;
    background-color: RED !important;

}

.title h2 {
    opacity: 1;
    background-color: rgba(66, 206, 206, 0.418);
    color: white;
    padding: 0.1rem .6rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border-radius: 10px;
    transition: all 0.5s;
}

.card:hover .title h2 {
    opacity: 0;
}