---
import CardAnimada from '../components/CardAnimada.astro';
import Fondo from '../components/Fondo.astro';
import Hero from '../components/Hero.astro';
import TitleSection from '../components/TitleSection.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/fondoAnimado.css';
---

<Layout>
	<Hero />
	<TitleSection text="Status Codes" align="center" size="text-6xl " />

	<section class="relative mx-auto flex min-h-screen max-w-7xl flex-col items-center justify-center">
		<div class="flex flex-wrap justify-center gap-x-40">
			<CardAnimada
				title="Animación de la Web"
				description="La Web se comunica mediante códigos de estado"
				image_cover={'https://userway.org/blog/wp-content/uploads/2024/03/The-404-Page_-How-To-Turn-a-404-Error-Into-a-Win-for-Your-Website.jpg'}
				image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768540721/image-removebg-preview_ytyddb.png'}
				image_character={'https://res.cloudinary.com/dovznesem/image/upload/v1768539694/404-removebg-preview_nv3fkg.png'}
				link="https://github.com/EnriqueHM31?tab=repositories"
			/>
			<CardAnimada
				title="Animación de la Web"
				description="La Web se comunica mediante códigos de estado"
				image_cover={'https://userway.org/blog/wp-content/uploads/2024/03/The-404-Page_-How-To-Turn-a-404-Error-Into-a-Win-for-Your-Website.jpg'}
				image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768540721/image-removebg-preview_ytyddb.png'}
				image_character={'https://res.cloudinary.com/dovznesem/image/upload/v1768539694/404-removebg-preview_nv3fkg.png'}
				link="https://github.com/EnriqueHM31?tab=repositories"
			/>
			<CardAnimada
				title="Animación de la Web"
				description="La Web se comunica mediante códigos de estado"
				image_cover={'https://userway.org/blog/wp-content/uploads/2024/03/The-404-Page_-How-To-Turn-a-404-Error-Into-a-Win-for-Your-Website.jpg'}
				image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768540721/image-removebg-preview_ytyddb.png'}
				image_character={'https://res.cloudinary.com/dovznesem/image/upload/v1768539694/404-removebg-preview_nv3fkg.png'}
				link="https://github.com/EnriqueHM31?tab=repositories"
			/>
			<CardAnimada
				title="Animación de la Web"
				description="La Web se comunica mediante códigos de estado"
				image_cover={'https://userway.org/blog/wp-content/uploads/2024/03/The-404-Page_-How-To-Turn-a-404-Error-Into-a-Win-for-Your-Website.jpg'}
				image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768540721/image-removebg-preview_ytyddb.png'}
				image_character={'https://res.cloudinary.com/dovznesem/image/upload/v1768539694/404-removebg-preview_nv3fkg.png'}
				link="https://github.com/EnriqueHM31?tab=repositories"
			/>
			<CardAnimada
				title="Animación de la Web"
				description="La Web se comunica mediante códigos de estado"
				image_cover={'https://userway.org/blog/wp-content/uploads/2024/03/The-404-Page_-How-To-Turn-a-404-Error-Into-a-Win-for-Your-Website.jpg'}
				image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768540721/image-removebg-preview_ytyddb.png'}
				image_character={'https://res.cloudinary.com/dovznesem/image/upload/v1768539694/404-removebg-preview_nv3fkg.png'}
				link="https://github.com/EnriqueHM31?tab=repositories"
			/>
		</div>
	</section>
</Layout>
