---
interface CodeBlockProps {
	title: string;
	content: string;
}

const { title, content } = Astro.props as CodeBlockProps;
---

<div class="border-t border-slate-700">
	<div class="bg-slate-800 px-6 py-2 text-sm font-semibold text-slate-300">
		{title}
	</div>
	<pre class="overflow-x-auto bg-black px-6 py-4 text-sm text-emerald-400">
    <code>{content}</code>
    </pre>
</div>
