---
import SectionCard from '../../atomos/SectionCard.astro';
import InfoCard from '../../codes-http/InfoCard.astro';
import type { PropsDeltaFormat } from '../../../types/components';

const { deltaFormat } = Astro.props as PropsDeltaFormat;
---

{
	deltaFormat && (
		<SectionCard title="Formatos de Diferencias y Parches">
			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-5">
				{Object.entries(deltaFormat).map(([name, format]) => (
					<InfoCard title={name} value={format} />
				))}
			</div>
		</SectionCard>
	)
}
