---
import type { HttpExample } from "../../../types";
import CodeBlocks from "../../atomos/CodeBlocks.astro";
import SectionCard from "../../atomos/SectionCard.astro";

const { examples } = Astro.props as { examples: HttpExample[] };
---

<SectionCard title="Ejemplos">
    <div class="space-y-12">
        {
            examples.map((example: HttpExample) => (
                <div class="border-slate-70 rounded-xl border border-slate-700 bg-black/30 p-2">
                    <div class="p-6">
                        <h3 class="mb-2 text-xl font-semibold">{example.scenario}</h3>
                        <p class="text-slate-400">{example.explanation}</p>
                    </div>

                    <CodeBlocks title="Request" content={example.request} />
                    <CodeBlocks title="Response" content={example.response} />
                </div>
            ))
        }
    </div>
</SectionCard>