---
import type { HeaderDetailsProps } from '../../../types/components';
const { cover, alt, code } = Astro.props as HeaderDetailsProps;
---

<section class="relative h-[40dvh] w-full overflow-hidden md:h-[60dvh]">
	{cover && <img src={cover} alt={alt} class="absolute inset-0 h-full w-full object-contain opacity-90 md:object-cover md:opacity-40" />}
	<div class="absolute inset-0 z-10 hidden h-full w-full bg-linear-to-t from-black to-transparent to-25% object-contain md:flex md:object-cover"></div>
</section>
