---
import SectionCard from '../../atomos/SectionCard.astro';
import InfoCard from '../../codes-http/InfoCard.astro';
import type { PropsMetaDataCode } from '../../../types/components';

const { category, httpVersion, specification, relatedCodes } = Astro.props as PropsMetaDataCode;
---

<SectionCard title="Caracteristicas">
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
		<InfoCard title="Category" value={category} />
		<InfoCard title="HTTP Version" value={httpVersion} />
		<InfoCard title="Specification" value={specification} />
		{relatedCodes && <InfoCard title="Related Codes" value={relatedCodes.join(', ')} />}
	</div>
</SectionCard>
