---
import SectionCard from "../../atomos/SectionCard.astro";

const { technicalNotes } = Astro.props as { technicalNotes: string };
---

{
    technicalNotes && (
        <SectionCard title="Notas técnicas">
            <div class="rounded-xl border border-slate-700 bg-slate-800/60 p-6 text-slate-300">{technicalNotes}</div>
        </SectionCard>
    )
}