---
import TitleSection from './TitleSection.astro';
import type { SectionCardProps } from '../../types/components';

const { title } = Astro.props as SectionCardProps;
---

<section class="flex flex-col gap-4">
	<TitleSection text={title} align="left" color="white" size="text-2xl md:text-4xl" />
	<div class="mt-4">
		<slot />
	</div>
</section>
