
---
import type { HttpCode } from '../../../types';
import CardAnimada from '../../atomos/CardAnimada.astro';
import TitleSection from '../../atomos/TitleSection.astro';



const { data } = Astro.props as { data: HttpCode[] };
---

<section class="max-w-8xl relative mx-auto flex min-h-screen flex-col items-center justify-center">
    <TitleSection text="Status Codes" align="center" size="text-6xl" delay="animate-delay-100" />
    <div class="flex flex-wrap justify-center gap-x-40">
        {
            data.map((code) => {
                return (
                    <CardAnimada
                        description={code.description}
                        image_cover={{
                            imageCover: code.images?.[0]?.imageCover,
                            alt: code.images?.[0]?.alt
                        }}
                        image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768586804/404__2_-removebg-preview_cgkkr5.png'}
                        image_character={{
                            imageCharacter: code.images?.[1]?.imageCharacter,
                            alt: code.images?.[1]?.alt
                        }}
                        link={`code/${code.code}`}
                        code={code.code}
                    />
                );
            })
        }
    </div>
</section>