---
import { ClientRouter } from 'astro:transitions';
import Fondo from '../components/landing/Fondo.astro';
import NavBar from '../components/landing/NavBar.astro';
import '../styles/global.css';
import type { LayoutProps } from '../types/components';

const { title, descripcion } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={descripcion} />
		<ClientRouter />
	</head>
	<body>
		<NavBar />
		<Fondo>
			<slot />
		</Fondo>
	</body>
</html>
